//colors
$title-background: black;
$shadow: #afafaf;
$rating: #ffc400;
$light-title: white;
$dark-text: #252525;
$light-dark-text: #9b9b9b;
$accent-color: #6dcdff;

//fonts
$main-font: 400 16px 'Raleway', sans-serif;
$title-font: 600 16px 'Oswald', sans-serif;

//sizes
$header-size: 50px;
$border-radius: 7px;

//mixins
@mixin content-container {
  max-width: 1100px;
  margin: auto;
  padding: 0 15px;
}
