//colors
$title-background: black;
$shadow: #eaeaea;
$light-title: white;
$dark-text: #252525;
$light-dark-text: #9b9b9b;
$accent-color: #5ac2f1;

//fonts
$main-font: 400 16px 'Raleway', sans-serif;
$title-font: 600 16px 'Oswald', sans-serif;

//sizes
$header-size: 50px;
$border-radius: 7px;
$news-width: 300px;
$gap: 7px;

//mixins
@mixin content-container {
  max-width: 1100px;
  margin: auto auto $header-size auto;
  padding: 0 15px 40px;
}
@mixin title {
  color: $light-title;
  font: $title-font;
  font-size: 26px;
  text-transform: uppercase;
}
@mixin subtitle {
  color: $title-background;
  font: $title-font;
  font-size: 19px;
  text-transform: uppercase;
  margin: 0;
}
@mixin background-positioning {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@mixin blackout {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0, 0, 0, .2);
}
