.video-player {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
}

.video {
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100%;
}

.close {
  position: absolute;
  left: 48px;
  top: 48px;
  height: 32px;
  width: 32px;
  cursor: pointer;
  background-image: url(../../assets/icons/close.svg);
}

.controls {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 50px;
  display: flex;
  flex-direction: column;

  .timeline {
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
    }

    &::before {
      background-color: orange;
      right: calc(100% - var(--timeline-position));
      z-index: 1;
    }

    &::after {
      background-color: white;
      right: calc(100% - var(--timeline-preview));
    }

    &:hover {
      height: 8px;

      .timeline-indicator {
        height: 18px;
        width: 18px;
      }
    }

    &-indicator {
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: orange;
      position: absolute;
      left: var(--timeline-position);
      transform: translate(-50%, -33%);
      z-index: 1;
    }

    &-time {
      display: flex;
      align-items: center;
      column-gap: 30px;
      color: white;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    &-preview-img {
      height: 50px;
      position: absolute;
      top: -80px;
      left: calc(var(--timeline-preview) - 40px);
      // display: none;
    }
  }

  &-buttons {
    height: 36px;
    width: 100%;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-left,
    &-right {
      display: flex;
      column-gap: 20px;
    }
  }

  &-btn {
    height: 32px;
    width: 32px;
    background: none;
    background-size: contain;
    cursor: pointer;
  }

  .play-pause {
    background-image: url(../../assets/icons/play.svg);

    &.pause {
      background-image: url(../../assets/icons/pause.svg);

    }
  }

  .skip-backward {
    background-image: url(../../assets/icons/skip-backward.svg);
    position: relative;

    &::after {
      content: '10';
      position: absolute;
      left: 0;
      color: white;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .skip-forward {
    background-image: url(../../assets/icons/skip-forward.svg);
    position: relative;

    &::after {
      content: '10';
      position: absolute;
      right: 0;
      color: white;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .volume {
    background-image: url(../../assets/icons/volume-full.svg);

    &-container {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        .volume-range {
          width: 100px;
          opacity: 1;
        }
      }
    }

    &-range {
      cursor: pointer;
      margin-left: 20px;
      width: 0;
      transform-origin: left;
      opacity: 0;
      transition: all .5s ease;
    }

    &.muted {
      background-image: url(../../assets/icons/volume-muted.svg);
    }

    &.half-volume {
      background-image: url(../../assets/icons/volume-half.svg);
    }
  }


  .subtitle-soundtrack {
    background-image: url(../../assets/icons/subtitle.svg);
  }

  .settings {
    background-image: url(../../assets/icons/settings.svg);
  }

  .streaming {
    background-image: url(../../assets/icons/streaming.svg);
  }

  .fullscreen {
    background-image: url(../../assets/icons/fullscreen.svg);

    &.fullscreen-exit {
      background-image: url(../../assets/icons/fullscreen-exit.svg);
    }
  }
}