.user-page {
  padding: 30px 30px;
  box-shadow: 0 10px 24px rgb(0 0 0 / 36%);

  &__titles {
    margin-bottom: 32px;
  }

  &__container {
    width: 100%;
  }

  &__content {
    &>div:not(:first-child) {
      margin-top: 40px;
    }
  }

  .serial {
    position: relative;

    &__title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }

    &__carousel {
      overflow: hidden;
      position: relative;

      &-arrows {
        position: absolute;
        top: 50%;
        width: calc(100% + 40px);
        left: -20px;
        display: flex;
        justify-content: space-between;

        &-prev,
        &-next {
          width: 10px;
          height: 25px;
          background-color: inherit;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          border: none;
        }

        &-prev {
          background-image: url(../../../components/assets/arrow-left.png);
        }

        &-next {
          background-image: url(../../../components/assets/arrow-right.png);
        }
      }
    }

    &__series {
      width: calc(340px * 8);
      gap: 10px;
      display: flex;
      flex-wrap: nowrap;
      transition: all 0.5s ease;

      .episode {
        width: calc((1010px - 20px) / 3);
      }
    }
  }
}