.film-page {
  width: 100%;

  &__header-margin {
    margin-top: $header-size;
    margin-bottom: 20px;
  }

  &__th {
  @include title;
    color: $dark-text;
    text-align: start;
    height: 55px;
  }

  &__table {
    max-height: 400px;
    width: 100%;
  }
  &__text {
    padding-top: 15px;
    vertical-align: top;
  }
  &__column {
    width: 30%;
  }
  &__title {
    @include title;
    color: $dark-text;
  }
}

.materials {
  display: grid;
  grid-template-areas:
    'video video mdl'
    'grp big big';
  gap: 10px;
  width: 70%;
  margin-left: auto;

  & > div {
    width: 100%;
    height: 200px;
    @include background-positioning;
  }

  &__trailer {
    grid-area: video;

  }
  &__middle {
    grid-area: mdl;
  }
  &__group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-area: grp;
  }
  &__group > div {
    @include background-positioning;
  }

  &__big {
    grid-area: big;
  }
}


