.film-page {
  width: 100%;

  &__header-margin {
    margin-top: $header-size;
  }

  &__th {
  @include title;
    color: $dark-text;
    text-align: start;
    height: 55px;
  }

  &__table {
    max-height: 400px;
    width: 100%;
  }
  &__text {
    vertical-align: top;
  }
  &__column {
    width: 30%;
  }
  &__title {
    @include title;
    color: $dark-text;
  }


}


