@import "./baseStyles/normalize.css";
@import "./baseStyles/variables";
@import "./templates/header/header";
@import "components/modals/authorization/authorization";
@import "templates/main/news/news";
@import "./templates/main/films/films";
@import "./templates/main/filmPage/filmPage";
@import "templates/main/filmPage/series";
@import "components/themes/themeElement";
@import "./templates/footer/footer";

// html {
//   margin-right: calc(-1 * (100vw - 100%));
// }

body {
  font: $main-font;
  padding: 0 calc(20px - (100vw - 100%)) 0 0;
  position: relative;
}

button {
  cursor: pointer;
}

.button {
  border: none;
  background-color: $accent-color;
  height: 30px;
  border-radius: $border-radius;
  min-width: 70px;
  color: $light-title;

  &:hover {
    background-color: #59bcee;
  }

  &:active {
    scale: 1.1;
    background-color: $accent-color;
  }
}

.wrapper {
  @include content-container;
  @include shadow;
  display: flex;
  padding-top: $header-size;
  gap: $gap;
}

.subtitle {
  @include subtitle;
}

.navigation {
  padding: 20px 0 15px 20px;
}

.nav {
  &__titles {
    display: flex;
    gap: 15px;
  }

  &__title {
    @include title;
    color: $light-dark-text;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
      color: $user-name-color;
    }
  }
}
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 60%;
  z-index: 102;
  display: none;
  & .active {
    display: block;
  }
}
.active {
  display: block;
}


.open {
  color: $dark-text;
}



.dark-theme {
  background-color: $dark-theme-background;
  color: $dark-theme-font-color;
}
body.dark-theme {
  background-color: black;
}
main.dark-theme {
  background-color: #4f4f4f;
}

