@import url('./libs/normalize.css');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

button {
  border: none;
}

.btn-film {
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.modal {
  display: none;
}